@using AspNetCoreIdentity.Extensions

@{
    ViewData["Title"] = "Tela Secreta dos Roles";
}
<h1>@ViewData["Title"]</h1>

<p>Usando a configuração dos Roles</p>

@{
    if (this.IfClaim("Produtos", "Adicionar"))
    {

        <p> Você só verá isso se tiver permissão de adicionar!</p>
    }
}


<div>
    @Html.ActionLink("Secret", "Secret").IfClaimShow(Context ,"Produtos", "Adicionar")
</div>
<br />
<div href="#" class="btn btn-danger @Html.Raw(this.IfClaimShow("Produtos", "Excluir"))">
    Exluir
</div> 