# Rules in this file were initially inferred by Visual Studio IntelliCode from the E:\Estudo e Projetos\Projetos BackEnd .NetCore\Eduardo Pires\ASP.NET-Core-Eduardo-Pires-MVC\AppModelo\src\Dev.UI.Site\wwwroot\ codebase based on best match to current usage at 07/05/2021
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

