@model IEnumerable<DevIO.App.ViewModels.ProdutoViewModel>

@{
    ViewData["Title"] = "Listagem de Produto";
}

<h4 class="mt-3">@ViewData["Title"]</h4>
<hr />
<p>
    <a class="btn btn-info" asp-action="Create">Novo Produto</a>
</p>

<partial name="_ListaProdutos" />